---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Hello, A-FRAME!</h1>
      <p>
        A-Frame est un framework Web open-source basé sur JavaScript pour la
        création de scènes de réalité virtuelle (VR) et augmentée (AR) dans le
        navigateur.
      </p>
      <p>
        Développé par Mozilla, il repose sur la puissance de WebGL et de
        Three.js, tout en simplifiant leur utilisation grâce à une structure
        basée sur HTML. S'appuyant sur l'API WebXR, il est compatible avec tous
        les smartphones récents et la majorité des casques de réalité virtuelle
        disponibles. A-Frame permet de créer des scènes 3D interactives en
        quelques lignes de code, sans avoir à manipuler directement WebGL ou
        Three.js.
      </p>
      <p>
        A-Frame est basé sur la technologie Web, ce qui signifie que les
        applications créées avec A-Frame peuvent être hébergées sur un serveur
        Web et consultées à l'aide d'un navigateur Web.
      </p>
    </main>
    <Footer />
  </body>
</html>
